In [ ]:
# 1. Prepare Problem
#The goal of this project is to predict the rating given a user and a movie

In [1]:
# a) importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# b) Load dataset
#Reading Ratings files:
rnames = ['UserID', 'MovieID', 'Rating', 'Timestamp']
ratings = pd.read_table('ratings.dat', sep = '::', header = None, names = rnames, engine='python')

#Reading users files:
unames = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']
users = pd.read_table('users.dat', sep = '::', header = None, names = unames, engine='python')

#Reading movies files:
mnames = ['MovieID', 'Title', 'Genres']
movies = pd.read_table('movies.dat', sep = '::', header = None, names = mnames, engine='python')

In [3]:
#Dimensions of Dataset
# shape
print("ratings :")
print(ratings.shape)
print("users :")
print(users.shape)
print("movies :")
print(movies.shape)

ratings :
(1000209, 4)
users :
(6040, 5)
movies :
(3883, 3)

In [42]:
# 2. Summarize Data
ratings.head(20)

    UserID  MovieID  Rating  Timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
5        1     1197       3  978302268
6        1     1287       5  978302039
7        1     2804       5  978300719
8        1      594       4  978302268
9        1      919       4  978301368
10       1      595       5  978824268
11       1      938       4  978301752
12       1     2398       4  978302281
13       1     2918       4  978302124
14       1     1035       5  978301753
15       1     2791       4  978302188
16       1     2687       3  978824268
17       1     2018       4  978301777
18       1     3105       5  978301713
19       1     2797       4  978302039

In [41]:
movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [34]:
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [6]:
ratings['Rating'].value_counts()

4    348971
3    261197
5    226310
2    107557
1     56174
Name: Rating, dtype: int64

In [5]:
users['Age'].value_counts()

25    2096
35    1193
18    1103
45     550
50     496
56     380
1      222
Name: Age, dtype: int64

In [ ]:
# a) Descriptive statistics